@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background: #C0C1C2;
}

.classes-container{
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.classes-container .classes-card{
    position: relative;
    width: 250px;
    background: linear-gradient(0deg,#f0f1f2,#e0e1e2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.classes-container .classes-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
    
}

.classes-container .classes-card:before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    pointer-events: none;
    z-index: 1;
}

.classes-card:hover .classes-text{
    color:#000
}

.classes-text{
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.classes-plus-icon{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    font-size: 30px;
    transition: 0.5s;
    text-decoration: bold;
    text-align: center;
    color: #fff;
    border-color: rgba(255,255,255,0.1);
    background: linear-gradient(0deg,#1284FF,#4da2ff,#1284FF);
}

.classes-plus-icon:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,.3);
    
}