/*--------------------------------------------------------------
                            General
----------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
    margin-top: 150px;
    font-family: "Montserrat", sans-serif;
    background: #fff;
}

/*--------------------------------------------------------------
                        Navigation Bar
----------------------------------------------------------------*/

.navbar {
	background-color: #fff;
	position: fixed; /*Change to absolute to demonstrate differnce between sticky nav*/
	top: 0;
	width: 100%;
	z-index: 2;
    border-bottom: 3px solid #346DEA;
    height: 100px;
    transition: 0.3s;
}
.navbar .textlinks{
    padding-right: 20px;
    float: right;
}
.navbar .textlinks a {
	color: #777;
	cursor: pointer;
	display: block;
	float: left;
	font-family: sans-serif;
	font-size: 20px;
	padding: 35px 16px;
	text-align: center;
	text-decoration: none;
    transition: 0.3s;
}
.dropdown-content a:hover, .navbar a:hover {
	color: #000;
    transform: translateY(-2px);
    text-shadow: 0 12px 10px rgba(0, 0, 0, 0.075);
}
.navbar .active, .navbar .textlinks .active{
    color: #000;
}

/* Navbar Logo */

.navbar .nav-logo{
    float: left;
    display: block;
    padding: 10px, 0px, 0px, 10px;
	margin-bottom: 0;
}
.logo-image{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px, 0px, 0px, 10px;
    height: 50px;
    width: 88px;
}
.nav-logo-text{
    top: 0;
    float: right;
    display: block;
    font-size: 25px;
    color: #000;
    padding: none;
    margin-top: 20px;
    text-align: center;
}
.nav-logo-text h5{
    font-size: 16px;
    margin-top: 10px;
    padding: none;
    font-weight: 700;
}

/* Dropdown Icons */

.navbar .show-nav {
    margin-top: 25px;
    margin-right: 20px;
}
.navbar .hide-nav{
    margin-top: 11px;
    margin-right: 20px;
    font-size: 60px;
}
.navbar .show-nav, .navbar .hide-nav{
    background-color: rgba(0,0,0,0);
    border: none;
	display: none;
    cursor: pointer;
    transition: 0.3s;
    float: right;
}
.navbar .show-nav:hover, .navbar .hide-nav:hover{
    transform: translateY(-3px);
}

/* Dropdown */

.dropdown-content {
    margin-top: 100px;
	display: none;
	position: fixed;
	top: 0;
	background-color: #346DEA;
	z-index: 0;
    align-items: center;
    overflow-y: hidden;
    transition: 0.5s;
    width: 100%;
    margin-left: 0px;
}

.dropdown-content a {
	float: center;
    background: #fff;
	color: #777;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
	font-family: sans-serif;
	font-size: 24px;
    transition: 0.5s;
}
.dropdown-content a:hover{
    transform: translateY(-4px);
}

/* Media Queries */

@media screen and (max-width:915px) {
	.navbar .textlinks a:not(.active) {
		display: none;
	}
	.navbar .navbarlogo {
		float: right;
		display: block;
	}
	.navbar .show-nav {
		float: right;
		display: block;
	}
	.navbar .textlinks .active {
		float: right;
	}
}
@media screen and (min-width:915px) {
    .navbar .show-nav, .navbar .hide-nav, .dropdown-content{
        display: none !important;
	}
    .navbar{
        height: 100px !important;
    }
}


/*--------------------------------------------------------------
                        Classes Cards
----------------------------------------------------------------*/


.classes-container-one, .classes-container-two {
    display: flex;
    justify-content: center;
    transition: 0.5;
    margin-top: 20px;
}

.classes-container-one{
    margin-top: 100px;
}

.classes-card {
    position: relative;
    display: block;
    width: 30%;
    background: linear-gradient(0deg, #f0f1f2, #e0e1e2);
    height: 300px;
    border-radius: 4px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
    margin-left: 20px;
}

@media screen and (max-width:800px){
    .classes-card {
            width: 40%;
    }
}

.banner-img{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-repeat: repeat;
}

.class-banner-one .banner-img{
    background-image: url(../../lms_system/Images/maori_pattern.jpg);
    background-size: 244px 76px;
}

.class-banner-two .banner-img{
    background-image: url(../../lms_system/Images/kowhai_pattern.png);
    background-size: 250px 175px;
}

.class-banner-three .banner-img{
    background-image: url(../../lms_system/Images/fern_pattern.jpg);
    background-size: 250px 250px;
}

.class-banner-four .banner-img{
    background-image: url(../../lms_system/Images/nz_flag.jpg);
    background-size: 400px 400px;
}

.classes-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.classes-card:hover .classes-text {
    color: #000;
}

.class-banner-one, .class-banner-two, .class-banner-three, .class-banner-four{
    display: block;
    width: 100%;
    height: 50%;
}
 
.class-banner-one{
    background-color:#a64444;
}

.class-banner-two{
    background-color: #e3d324;
}

.class-banner-three{
    background-color: #80a644;
}

.class-banner-four{
    background-color:#4487a6;
}

.classes-text {
  position: relative;
  color: #777;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
  transition: 0.5s;
    padding-top: 20px;
}

.classes-subtext {
    position: relative;
  color: #888;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  transition: 0.5s;
}


/*346DEA rgb(52, 109, 234)*/

.delete-class{
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    cursor: pointer;
    float: right;
    height: 25px;
    width: 25px;
}

delete-class:hover{}

@media screen and (max-width:1000px) {
    .classes-container-one, .classes-container-two {
        width: auto;
    }
}


/*--------------------------------------------------------------
                        "Add Class" Function
----------------------------------------------------------------*/


.classes-plus-icon {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    font-size: 35px;
    border-radius: 30px;
    text-decoration: bold;
    text-align: center;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.1);
    /*background: #237ee0;*/
    background: #237ee0;
    transition: 0.3s;
    cursor: pointer;
    z-index: 2;
}

.classes-plus-icon:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* The popup form */
.form-popup {
    display: none;
    position: fixed;
    /*bottom: 20px;
    right: 20px;*/
    justify-content: center;
    z-index: 3;
    margin: center;
    box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.35);
}

/* Styles to the form container */
.form-container {
  /*max-width: 300px;*/
    width: 30%;
  padding: 10px;
  background-color: white;
    position: fixed;
    right: 33%;
    top: 45%;
}

/* Full-width input fields */
.form-container input[type="text"] {
  padding: 15px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
    width: 90%;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Style for the submit/login button */
.form-button {
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 10px;
    background-color: #237ee0;
    border: none;
    height: 60px;
    width: 100%;
    align-content: center;
    position: center;
    transition: 0.3s;
}

/* Red background color to the cancel button */
.cancel {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    border-radius: 0px;
    height: 30px;
    width: 40px;
    padding: 1px 1px;
    background: rgba(255, 10, 10, 0.85);
}

/* Hover effects for buttons */
.form-button:hover{
    cursor: pointer;
    color: #000;
}

/*--------------------------------------------------------------
                        Class Banners
----------------------------------------------------------------*/


.banner{
    width: 80%;
    margin: auto;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 60px;
    background-color:#a64444;
    background-repeat: repeat;
}

.banner-content{
    position: absolute;
    opacity: 1;
    width: 10%;
    height: 10%;
    background-repeat: repeat;
    background-image: url(../../lms_system/Images/maori_pattern.jpg);
    background-size: 244px 76px;
}

.banner-content > *{
   opacity: ;
}

.banner h1{
    position: absolute;
    font-size: 60px;
    text-align: center;
    background-color: white;
    width: 400px;
    margin: auto;
}

/*--------------------------------------------------------------
                            Filter
----------------------------------------------------------------*/

.filter{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    background: rgba(0, 100, 255, 0.2);
    height: 49px;
    border-radius: 25px;
    
}
.filter a {
	color: #000;
	cursor: pointer;
	display: block;
	float: right;
	font-family: sans-serif;
	font-size: 15px;
	padding: 15px 16px;
	text-align: center;
	text-decoration: none;
    transition: 0.3s;
    border: solid blue 1px;
    border-radius: 25px;
    background: #fff;
}

.filter a:not(.title){
        margin-left: 10px;
}

.filter .title{
    float: left;
    cursor:default;
    border: solid black 1px;
}

.filter img{
    height: 15px;
    display: inline-block;
}

/*--------------------------------------------------------------
                            Stream
----------------------------------------------------------------*/

.stream{
    width: 80%;
    margin: auto;
}

.post{
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    border-radius: 10px;
    background: #fff;
    /*background: linear-gradient(0deg, #f0f1f2, #e0e1e2);*/
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
    display: block;
}

.post h1{
    text-align: center;
    padding-top: 10px;
    margin: auto;
}

.post button{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 125px;
    text-align: center;
    color: #000;
    background: #eee;
    border: solid white 1px;
    transition: 0.3s;
    cursor: pointer;
}

.post p{
    margin: 15px;
    display: block;
}

.date{
    display: block;
    text-align: center;
    color: #000;
    transition: 0.3s;
    z-index: 2;
    padding: 5px;
    width: 300px;
    margin: auto;
    height: 20px;
}

.date .left{
    float: left;
}

.date .right{
    float: right;
    margin-right:25px;
}