/* Setting generic body values */
body {
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
  color: black;
  font-size: 25px;
}

/* Setting style values for dark-mode feature */
.dark-mode {
  background-color: black;
  color: white;
  background-image: url('../img/image5.jpg');
}

/* Setting generic web-page values */
body, html {
  height: 100%;
  padding: 0px, 0px, 0px, 0px;
  margin: 0px, 0px, 0px, 0px;
}

/* Styling the video background: 110% width and height to cover the entire window */
#VidBack {
  position: fixed;
  display: block;
  right: 0 !important;
  left: 0 !important;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: -1;
}

/* Styling the main title/header */
.main_title {
  display: none;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 450px;
  width: 1150px; /* Need a specific value to work */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Fade the main title text rather then a snappy change */
.title {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Styling sub-title/sub-header */
.sub_title {
  font-size: 18px;
  position: absolute; 
  left: 0; 
  right: 0;
  padding: 10px;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 0px;
  width: 785px; /* Need a specific value to work */
  height: 75px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}

/* All of the code for the loading on-webpage-load function */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 2147483647;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
  z-index: 2147483647;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
  z-index: 2147483647;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

/* Setting video background responsiveness */
@media (min-aspect-ratio: 16/9) {
  #VidBack{
    width: 100%;
    height: auto;
    position: center;
    margin: 0 auto;
    display: block;
  }
}

@media (max-aspect-ratio: 16/9) {
  #VidBack{
    width: auto;
    height: 100%;
    position: center;
    margin: 0 auto;
    display: block;
  }
}


@media (max-width: 756px) {
  #VidBack {
      display: none;
  }
  body {
      background-image: url('../img/poster.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
  }
}

/* Setting header/sub-header responsiveness */

@media (max-width: 756px){
  .main_title {
    font-size: 14px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 325px;
    width: 575px; /* Need a specific value to work */
  }
  .sub_title {
    font-size: 12px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 325px;
    margin-top: 0px;
    width: 530px; /* Need a specific value to work */
    height: 65px;
  }
  .body_main {
    background-color: white;
    color: black;
    position: absolute;
    margin-top: 1300px;
    width: 75%;
    height: 45rem;
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
  }

  .img-thumbnail {
    display: none;
    position: relative;
    float: none;
    margin: 35rem 20px 0 20px;
    height: 480px;
    width: 810px;
    z-index: 999;
  
  }
}

@media screen and (min-width: 756px) and (max-width: 1180px){
  .main_title {
    font-size: 20px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 325px;
    width: 750px; /* Need a specific value to work */
  }
  .sub_title {
    font-size: 14px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 325px;
    margin-top: 0px;
    width: 650px; /* Need a specific value to work */
    height: 65px;
  }
  .body_main {
    background-color: white;
    color: red;
    position: absolute;
    margin-top: 1300px;
    width: 75%;
    height: 45rem;
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
  }
}

/* Style lines between navbar items */
/*
ul {
  list-style:none;
}
ul li{
  display:inline-block; 
  padding:0 7px; 
  position:relative;
}
ul li:not(:last-child)::after{
  content:""; 
  border:1px solid #4b4b4b;
  border-width: 1px 1px 0 0;
  position:absolute; 
  right:6px; 
  top:0; 
  height:100%;
}
*/
/* Style log in/sign up buttons in navigation bar */

.nav-item-spec {
  border: 3px solid black;
  border-color: #076BFF;
  background-color: white;
  color: #7F7F7F;
  font-family: Montserrat,sans-serif;
  font-size:13px;
  font-weight:600;
  line-height:1.5;
  box-shadow: none;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  padding: 6px;
  margin-left: 10px;
  width: 100px;
}


.nav-item-spec1, .nav-item-spec{
  border: none;
  background-color: #076BFF;
  color: white;
  font-family: Montserrat,sans-serif;
  font-size:13px;
  font-weight:600;
  line-height:1.5;
  box-shadow: none;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  padding: 6px;
  margin-left: 10px;
  width: 100px;
}

.body_main {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  position: absolute;
  margin-top: 1300px;
  width: 75%;
  height: 45rem;
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
}

.body_main_2 {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  position: absolute;
  margin-top: 2200px;
  width: 75%;
  height: 45rem;
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
}

.body_para_main {
  margin-top: 30px;
  font-family: Montserrat,sans-serif;
  font-size: 18px;
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.body_title_main {
  font-weight: 800;
  margin-top: -900px;
  font-size: 28px;
  font-family: Montserrat,sans-serif;
  z-index: 9999;
}

.body_title_main_2 {
  font-weight: 800;
  margin-top: 250px;
  font-size: 28px;
  font-family: Montserrat,sans-serif;
  z-index: 9999;
}

.img-thumbnail {
  position: relative;
  float: none;
  margin: 35rem auto 0 auto;
  height: 480px auto;
  width: 810px auto;
  z-index: 999;

}

.body_main_text  {
  position: relative;
  float: right;
  margin-right: 50px;
  width: 50%;
  margin-top: 0px;
  height: 50%;
}

.footer_main {
  position: absolute;
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 3200px;
  text-align: center;

}

.col {
  font-size: 18px;
}

.footer-copyright {
  font-size: 18px;
}

.nav-link-spec {
  text-decoration: none;
  color: white;
}

.nav-link-spec:hover {
  text-decoration: none;
  color: white;
}

.contact-text{
  font-size: 18px;
}

.footer_main_contact {
  position: absolute;
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 0px;
  text-align: center;

}