/* Setting generic body values */
body {
  background-color: white;
  color: black;
  font-size: 25px;
}

/* Setting style values for dark-mode feature */
.dark-mode {
  background-color: black;
  color: white;
  background-image: url('../img/image5.jpg');
}

/* Setting generic web-page values */
body, html {
  height: 100%;
  padding: 0px, 0px, 0px, 0px;
  margin: 0px, 0px, 0px, 0px;
}

/* Styling the video background: 110% width and height to cover the entire window */
#VidBack {
  position: fixed;
  right: 0 !important;
  left: -15px !important;
  top: 0 !important;
  width: 110% !important; 
  height: 110% !important;
}